# Ignore keys and local environment
config/*.json
.env
.venv/
__pycache__/
*.pyc
.DS_Store

# Airflow runtime files
airflow-webserver.log
airflow-webserver.err
airflow-webserver.out
airflow.db
*.pid

# Notebook checkpoints and heavy outputs
notebooks/.ipynb_checkpoints/
.ipynb_checkpoints/
